services:

  db:
    image: mysql:8.0  
    container_name: meeting_db  
    environment:  
      MYSQL_ROOT_PASSWORD: rootpassword  
      MYSQL_DATABASE: meeting_rooms  
      MYSQL_USER: app_user  
      MYSQL_PASSWORD: app_password  
    ports:
      - "3306:3306"  
    volumes:  
      - db_data:/var/lib/mysql  
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql  
    networks:
      - app-network  
    healthcheck:  
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  php:
    build: ./php  
    container_name: meeting_php
    volumes:  
      - ./src:/var/www/html
    networks:
      - app-network
    depends_on:  
      - db

  web:
    image: nginx:alpine
    container_name: meeting_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx:/etc/nginx/conf.d  
    depends_on:
      - php
    networks:
      - app-network


volumes:
  db_data:  

networks:
  app-network:
    driver: bridge  